<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.CheckRecoverMapper">
  <resultMap id="CheckRecoverResultMap" type="com.atguigu.bean.CheckRecover">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
  </resultMap>

  <!-- selectCheckRecoverOrderList使用中 -->
  <select id="selectCheckRecoverOrderList" parameterType="com.atguigu.bean.CheckRecover" resultMap="CheckRecoverResultMap">
   SELECT torder.order_id,torder.order_status,torder.order_money ,torder.order_createTime
	from 
	tb_mlfront_order as torder,
	tb_mlfront_checkoutview as tbcheckout 
	WHERE 
	torder.order_id = tbcheckout.checkoutView_order_id 
	AND torder.order_createTime BETWEEN #{startTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR} 
	GROUP BY torder.order_id
  </select>
  
</mapper>