<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmailCheckUnPayMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.EmailCheckUnPay">
    <id column="checkUnPay_id" jdbcType="INTEGER" property="checkunpayId" />
    <result column="checkUnPay_email" jdbcType="VARCHAR" property="checkunpayEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    checkUnPay_id, checkUnPay_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_email_checkunpay
    where checkUnPay_id = #{checkunpayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_email_checkunpay
    where checkUnPay_id = #{checkunpayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.EmailCheckUnPay">
    insert into tb_email_checkunpay (checkUnPay_id, checkUnPay_email)
    values (#{checkunpayId,jdbcType=INTEGER}, #{checkunpayEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="checkunpayId" parameterType="com.atguigu.bean.EmailCheckUnPay">
    insert into tb_email_checkunpay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkunpayId != null">
        checkUnPay_id,
      </if>
      <if test="checkunpayEmail != null">
        checkUnPay_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkunpayId != null">
        #{checkunpayId,jdbcType=INTEGER},
      </if>
      <if test="checkunpayEmail != null">
        #{checkunpayEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.EmailCheckUnPay">
    update tb_email_checkunpay
    <set>
      <if test="checkunpayEmail != null">
        checkUnPay_email = #{checkunpayEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where checkUnPay_id = #{checkunpayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.EmailCheckUnPay">
    update tb_email_checkunpay
    set checkUnPay_email = #{checkunpayEmail,jdbcType=VARCHAR}
    where checkUnPay_id = #{checkunpayId,jdbcType=INTEGER}
  </update>
  
    <!-- selectByEmail -->
  <select id="selectByEmail" parameterType="com.atguigu.bean.EmailCheckUnPay" resultMap="BaseResultMap">
    select * 
    from tb_email_checkunpay
    where checkUnPay_email = #{checkunpayEmail,jdbcType=VARCHAR}
  </select>
  
  <!-- selectALl -->
  <select id="selectALl" parameterType="com.atguigu.bean.EmailCheckUnPay" resultMap="BaseResultMap">
    select * 
    from tb_email_checkunpay order by checkUnPay_id
  </select>
</mapper>