<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmailPayAndCheckMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.EmailPayAndCheck">
    <id column="payAndCheck_id" jdbcType="INTEGER" property="payandcheckId" />
    <result column="payAndCheck_email" jdbcType="VARCHAR" property="payandcheckEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    payAndCheck_id, payAndCheck_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_email_payandcheck
    where payAndCheck_id = #{payandcheckId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_email_payandcheck
    where payAndCheck_id = #{payandcheckId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.EmailPayAndCheck">
    insert into tb_email_payandcheck (payAndCheck_id, payAndCheck_email)
    values (#{payandcheckId,jdbcType=INTEGER}, #{payandcheckEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="payandcheckId" parameterType="com.atguigu.bean.EmailPayAndCheck">
    insert into tb_email_payandcheck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payandcheckId != null">
        payAndCheck_id,
      </if>
      <if test="payandcheckEmail != null">
        payAndCheck_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payandcheckId != null">
        #{payandcheckId,jdbcType=INTEGER},
      </if>
      <if test="payandcheckEmail != null">
        #{payandcheckEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.EmailPayAndCheck">
    update tb_email_payandcheck
    <set>
      <if test="payandcheckEmail != null">
        payAndCheck_email = #{payandcheckEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where payAndCheck_id = #{payandcheckId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.EmailPayAndCheck">
    update tb_email_payandcheck
    set payAndCheck_email = #{payandcheckEmail,jdbcType=VARCHAR}
    where payAndCheck_id = #{payandcheckId,jdbcType=INTEGER}
  </update>
  
     <!-- selectByEmail -->
  <select id="selectByEmail" parameterType="com.atguigu.bean.EmailPayAndCheck" resultMap="BaseResultMap">
    select * 
    from tb_email_payandcheck
    where payAndCheck_email = #{payandcheckEmail,jdbcType=VARCHAR}
  </select>
  
  <!-- selectALl -->
  <select id="selectALl" parameterType="com.atguigu.bean.EmailPayAndCheck" resultMap="BaseResultMap">
    select * 
    from tb_email_payandcheck order by payAndCheck_id
  </select>
</mapper>