<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmailPayAllsuccessMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.EmailPayAllsuccess">
    <id column="payAllsuccess_id" jdbcType="INTEGER" property="payallsuccessId" />
    <result column="payAllsuccess_email" jdbcType="VARCHAR" property="payallsuccessEmail" />
  </resultMap>
  <sql id="Base_Column_List">
    payAllsuccess_id, payAllsuccess_email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_email_payallsuccess
    where payAllsuccess_id = #{payallsuccessId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_email_payallsuccess
    where payAllsuccess_id = #{payallsuccessId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.EmailPayAllsuccess">
    insert into tb_email_payallsuccess (payAllsuccess_id, payAllsuccess_email
      )
    values (#{payallsuccessId,jdbcType=INTEGER}, #{payallsuccessEmail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="payallsuccessId" parameterType="com.atguigu.bean.EmailPayAllsuccess">
    insert into tb_email_payallsuccess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payallsuccessId != null">
        payAllsuccess_id,
      </if>
      <if test="payallsuccessEmail != null">
        payAllsuccess_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payallsuccessId != null">
        #{payallsuccessId,jdbcType=INTEGER},
      </if>
      <if test="payallsuccessEmail != null">
        #{payallsuccessEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.EmailPayAllsuccess">
    update tb_email_payallsuccess
    <set>
      <if test="payallsuccessEmail != null">
        payAllsuccess_email = #{payallsuccessEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where payAllsuccess_id = #{payallsuccessId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.EmailPayAllsuccess">
    update tb_email_payallsuccess
    set payAllsuccess_email = #{payallsuccessEmail,jdbcType=VARCHAR}
    where payAllsuccess_id = #{payallsuccessId,jdbcType=INTEGER}
  </update>
  
   <!-- selectByEmail -->
  <select id="selectByEmail" parameterType="com.atguigu.bean.EmailPayAllsuccess" resultMap="BaseResultMap">
    select * 
    from tb_email_payallsuccess
    where payAllsuccess_email = #{payallsuccessEmail,jdbcType=VARCHAR}
  </select>
  
  <!-- selectALl -->
  <select id="selectALl" parameterType="com.atguigu.bean.EmailPayAllsuccess" resultMap="BaseResultMap">
    select * 
    from tb_email_payallsuccess order by payAllsuccess_id
  </select>
</mapper>