<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlbackProductAttributeNameMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlbackProductAttributeName">
    <id column="productAttrName_id" jdbcType="INTEGER" property="productattrnameId" />
    <result column="productAttrName_name" jdbcType="VARCHAR" property="productattrnameName" />
    <result column="productAttrName_sort" jdbcType="INTEGER" property="productattrnameSort" />
    <result column="productAttrName_pid" jdbcType="INTEGER" property="productattrnamePid" />
    <result column="productAttrName_status" jdbcType="INTEGER" property="productattrnameStatus" />
    <result column="productAttrName_createTime" jdbcType="VARCHAR" property="productattrnameCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    productAttrName_id, productAttrName_name, productAttrName_sort, productAttrName_pid, 
    productAttrName_status, productAttrName_createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlback_product_attributename
    where productAttrName_id = #{productattrnameId,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.atguigu.bean.MlbackProductAttributeName">
    insert into tb_mlback_product_attributename (productAttrName_id, productAttrName_name, 
      productAttrName_sort, productAttrName_pid, 
      productAttrName_status, productAttrName_createTime
      )
    values (#{productattrnameId,jdbcType=INTEGER}, #{productattrnameName,jdbcType=VARCHAR}, 
      #{productattrnameSort,jdbcType=INTEGER}, #{productattrnamePid,jdbcType=INTEGER}, 
      #{productattrnameStatus,jdbcType=INTEGER}, #{productattrnameCreatetime,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlbackProductAttributeName">
    update tb_mlback_product_attributename
    set productAttrName_name = #{productattrnameName,jdbcType=VARCHAR},
      productAttrName_sort = #{productattrnameSort,jdbcType=INTEGER},
      productAttrName_pid = #{productattrnamePid,jdbcType=INTEGER},
      productAttrName_status = #{productattrnameStatus,jdbcType=INTEGER},
      productAttrName_createTime = #{productattrnameCreatetime,jdbcType=VARCHAR}
    where productAttrName_id = #{productattrnameId,jdbcType=INTEGER}
  </update>
  
  
  <!-- insertSelective -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="productattrnameId" parameterType="com.atguigu.bean.MlbackProductAttributeName">
    insert into tb_mlback_product_attributename
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productattrnameId != null">
        productAttrName_id,
      </if>
      <if test="productattrnameName != null">
        productAttrName_name,
      </if>
      <if test="productattrnameSort != null">
        productAttrName_sort,
      </if>
      <if test="productattrnamePid != null">
        productAttrName_pid,
      </if>
      <if test="productattrnameStatus != null">
        productAttrName_status,
      </if>
      <if test="productattrnameCreatetime != null">
        productAttrName_createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productattrnameId != null">
        #{productattrnameId,jdbcType=INTEGER},
      </if>
      <if test="productattrnameName != null">
        #{productattrnameName,jdbcType=VARCHAR},
      </if>
      <if test="productattrnameSort != null">
        #{productattrnameSort,jdbcType=INTEGER},
      </if>
      <if test="productattrnamePid != null">
        #{productattrnamePid,jdbcType=INTEGER},
      </if>
      <if test="productattrnameStatus != null">
        #{productattrnameStatus,jdbcType=INTEGER},
      </if>
      <if test="productattrnameCreatetime != null">
        #{productattrnameCreatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlback_product_attributename
    where productAttrName_id = #{productattrnameId,jdbcType=INTEGER}
  </delete>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlbackProductAttributeName">
    update tb_mlback_product_attributename
    <set>
      <if test="productattrnameName != null">
        productAttrName_name = #{productattrnameName,jdbcType=VARCHAR},
      </if>
      <if test="productattrnameSort != null">
        productAttrName_sort = #{productattrnameSort,jdbcType=INTEGER},
      </if>
      <if test="productattrnamePid != null">
        productAttrName_pid = #{productattrnamePid,jdbcType=INTEGER},
      </if>
      <if test="productattrnameStatus != null">
        productAttrName_status = #{productattrnameStatus,jdbcType=INTEGER},
      </if>
      <if test="productattrnameCreatetime != null">
        productAttrName_createTime = #{productattrnameCreatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where productAttrName_id = #{productattrnameId,jdbcType=INTEGER}
  </update>
  <!-- selectMlbackProductAttributeNameByProductId使用中 -->
  <select id="selectMlbackProductAttributeNameByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from tb_mlback_product_attributename 
    where productAttrName_pid = #{productattrnamePid,jdbcType=INTEGER} order by productAttrName_sort
  </select>
  
</mapper>