<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlbackCategoryMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlbackCategory">
 	<id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_imgurl" jdbcType="VARCHAR" property="categoryImgurl" />
    <result column="category_imgstatus" jdbcType="INTEGER" property="categoryImgstatus" />
    <result column="category_parent_id" jdbcType="INTEGER" property="categoryParentId" />
    <result column="category_parent_name" jdbcType="VARCHAR" property="categoryParentName" />
    <result column="category_status" jdbcType="INTEGER" property="categoryStatus" />
    <result column="category_lable" jdbcType="INTEGER" property="categoryLable" />
    <result column="category_seo" jdbcType="VARCHAR" property="categorySeo" />
    <result column="category_sort_order" jdbcType="INTEGER" property="categorySortOrder" />
    <result column="category_createTime" jdbcType="VARCHAR" property="categoryCreatetime" />
    <result column="category_motifyTime" jdbcType="VARCHAR" property="categoryMotifytime" />
    <result column="category_desc" jdbcType="VARCHAR" property="categoryDesc" />
    <result column="category_product_ids" jdbcType="VARCHAR" property="categoryProductIds" />
    <result column="category_product_names" jdbcType="VARCHAR" property="categoryProductNames" />
    <result column="category_imgpcurl" jdbcType="VARCHAR" property="categoryImgpcurl" />
    <result column="category_imgpcstatus" jdbcType="INTEGER" property="categoryImgpcstatus" />
    <result column="category_metaTitle" jdbcType="VARCHAR" property="categoryMetatitle" />
    <result column="category_metaKeyWords" jdbcType="VARCHAR" property="categoryMetakeywords" />
    <result column="category_metaDesc" jdbcType="VARCHAR" property="categoryMetadesc" />
    <result column="category_superCate_id" jdbcType="INTEGER" property="categorySuperCateId" />
    <result column="category_superCate_name" jdbcType="VARCHAR" property="categorySuperCateName" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, category_name, category_imgurl, category_imgstatus, category_parent_id, category_parent_name, 
    category_status, category_lable, category_seo, category_sort_order, category_createTime, 
    category_motifyTime, category_desc, category_product_ids, category_product_names, 
    category_imgpcurl, category_imgpcstatus, category_metaTitle, category_metaKeyWords, category_metaDesc, category_superCate_id, category_superCate_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlback_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlback_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlbackCategory">
    insert into tb_mlback_category (category_id, category_name, category_imgurl, category_imgstatus, 
      category_parent_id, category_parent_name, category_status, 
      category_lable, category_seo, category_sort_order, 
      category_createTime, category_motifyTime, 
      category_desc, category_product_ids, category_product_names, 
      category_imgpcurl, category_imgpcstatus, category_metaTitle, category_metaKeyWords, 
      category_metaDesc,category_superCate_id, category_superCate_name)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryImgurl,jdbcType=VARCHAR}, #{categoryImgstatus,jdbcType=INTEGER}, 
      #{categoryParentId,jdbcType=INTEGER}, #{categoryParentName,jdbcType=VARCHAR}, #{categoryStatus,jdbcType=INTEGER}, 
      #{categoryLable,jdbcType=INTEGER}, #{categorySeo,jdbcType=VARCHAR}, #{categorySortOrder,jdbcType=INTEGER}, 
      #{categoryCreatetime,jdbcType=VARCHAR}, #{categoryMotifytime,jdbcType=VARCHAR}, 
      #{categoryDesc,jdbcType=VARCHAR}, #{categoryProductIds,jdbcType=VARCHAR}, #{categoryProductNames,jdbcType=VARCHAR}, 
      #{categoryImgpcurl,jdbcType=VARCHAR}, #{categoryImgpcstatus,jdbcType=INTEGER}, #{categoryMetatitle,jdbcType=VARCHAR}, #{categoryMetakeywords,jdbcType=VARCHAR}, 
      #{categoryMetadesc,jdbcType=VARCHAR}, #{categorySuperCateId,jdbcType=INTEGER}, #{categorySuperCateName,jdbcType=VARCHAR})

  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="categoryId" parameterType="com.atguigu.bean.MlbackCategory">
    insert into tb_mlback_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryImgurl != null">
        category_imgurl,
      </if>
      <if test="categoryImgstatus != null">
        category_imgstatus,
      </if>
      <if test="categoryParentId != null">
        category_parent_id,
      </if>
      <if test="categoryParentName != null">
        category_parent_name,
      </if>
      <if test="categoryStatus != null">
        category_status,
      </if>
      <if test="categoryLable != null">
        category_lable,
      </if>
      <if test="categorySeo != null">
        category_seo,
      </if>
      <if test="categorySortOrder != null">
        category_sort_order,
      </if>
      <if test="categoryCreatetime != null">
        category_createTime,
      </if>
      <if test="categoryMotifytime != null">
        category_motifyTime,
      </if>
      <if test="categoryDesc != null">
        category_desc,
      </if>
      <if test="categoryProductIds != null">
        category_product_ids,
      </if>
      <if test="categoryProductNames != null">
        category_product_names,
      </if>
      <if test="categoryImgpcurl != null">
        category_imgpcurl,
      </if>
      <if test="categoryImgpcstatus != null">
        category_imgpcstatus,
      </if>
      <if test="categoryMetatitle != null">
        category_metaTitle,
      </if>
      <if test="categoryMetakeywords != null">
        category_metaKeyWords,
      </if>
      <if test="categoryMetadesc != null">
        category_metaDesc,
      </if>
      <if test="categorySuperCateId != null">
      	category_superCate_id,
      </if>
      <if test="categorySuperCateName != null">
      	category_superCate_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgurl != null">
        #{categoryImgurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgstatus != null">
        #{categoryImgstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryParentId != null">
        #{categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="categoryParentName != null">
        #{categoryParentName,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        #{categoryStatus,jdbcType=INTEGER},
      </if>
      <if test="categoryLable != null">
        #{categoryLable,jdbcType=INTEGER},
      </if>
      <if test="categorySeo != null">
        #{categorySeo,jdbcType=VARCHAR},
      </if>
      <if test="categorySortOrder != null">
        #{categorySortOrder,jdbcType=INTEGER},
      </if>
      <if test="categoryCreatetime != null">
        #{categoryCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="categoryMotifytime != null">
        #{categoryMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="categoryDesc != null">
        #{categoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductIds != null">
        #{categoryProductIds,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductNames != null">
        #{categoryProductNames,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcurl != null">
        #{categoryImgpcurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcstatus != null">
        #{categoryImgpcstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryMetatitle != null">
        #{categoryMetatitle,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetakeywords != null">
        #{categoryMetakeywords,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetadesc != null">
        #{categoryMetadesc,jdbcType=VARCHAR},
      </if>
      <if test="categorySuperCateId != null">
      	#{categorySuperCateId,jdbcType=INTEGER},
      </if>
      <if test="categorySuperCateName != null">
      	#{categorySuperCateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlbackCategory">
    update tb_mlback_category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgurl != null">
        category_imgurl = #{categoryImgurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgstatus != null">
        category_imgstatus = #{categoryImgstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryParentId != null">
        category_parent_id = #{categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="categoryParentName != null">
        category_parent_name = #{categoryParentName,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        category_status = #{categoryStatus,jdbcType=INTEGER},
      </if>
      <if test="categoryLable != null">
        category_lable = #{categoryLable,jdbcType=INTEGER},
      </if>
      <if test="categorySeo != null">
        category_seo = #{categorySeo,jdbcType=VARCHAR},
      </if>
      <if test="categorySortOrder != null">
        category_sort_order = #{categorySortOrder,jdbcType=INTEGER},
      </if>
      <if test="categoryCreatetime != null">
        category_createTime = #{categoryCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="categoryMotifytime != null">
        category_motifyTime = #{categoryMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="categoryDesc != null">
        category_desc = #{categoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductIds != null">
        category_product_ids = #{categoryProductIds,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductNames != null">
        category_product_names = #{categoryProductNames,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcurl != null">
        category_imgpcurl = #{categoryImgpcurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcstatus != null">
        category_imgpcstatus = #{categoryImgpcstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryMetatitle != null">
        category_metaTitle = #{categoryMetatitle,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetakeywords != null">
        category_metaKeyWords = #{categoryMetakeywords,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetadesc != null">
        category_metaDesc = #{categoryMetadesc,jdbcType=VARCHAR},
      </if>
      <if test="categorySuperCateId != null">
      	category_superCate_id = #{categorySuperCateId,jdbcType=INTEGER},
      </if>
      <if test="categorySuperCateName != null">
      	category_superCate_name = #{categorySuperCateName,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlbackCategory">
    update tb_mlback_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_imgurl = #{categoryImgurl,jdbcType=VARCHAR},
      category_imgstatus = #{categoryImgstatus,jdbcType=INTEGER},
      category_parent_id = #{categoryParentId,jdbcType=INTEGER},
      category_parent_name = #{categoryParentName,jdbcType=VARCHAR},
      category_status = #{categoryStatus,jdbcType=INTEGER},
      category_lable = #{categoryLable,jdbcType=INTEGER},
      category_seo = #{categorySeo,jdbcType=VARCHAR},
      category_sort_order = #{categorySortOrder,jdbcType=INTEGER},
      category_createTime = #{categoryCreatetime,jdbcType=VARCHAR},
      category_motifyTime = #{categoryMotifytime,jdbcType=VARCHAR},
      category_desc = #{categoryDesc,jdbcType=VARCHAR},
      category_product_ids = #{categoryProductIds,jdbcType=VARCHAR},
      category_product_names = #{categoryProductNames,jdbcType=VARCHAR},
      category_imgpcurl = #{categoryImgpcurl,jdbcType=VARCHAR},
      category_imgpcstatus = #{categoryImgpcstatus,jdbcType=INTEGER},
      category_metaTitle = #{categoryMetatitle,jdbcType=VARCHAR},
      category_metaKeyWords = #{categoryMetakeywords,jdbcType=VARCHAR},
      category_metaDesc = #{categoryMetadesc,jdbcType=VARCHAR},
      category_superCate_id = #{categorySuperCateId,jdbcType=INTEGER},
      category_superCate_name = #{categorySuperCateName,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  
  <select id="selectMlbackCategoryGetAll" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select
    category_id, category_name, category_imgurl, category_imgstatus, category_parent_id, category_parent_name, 
    category_status, category_lable, category_seo, category_sort_order, category_desc, 
    category_imgpcurl, category_imgpcstatus, category_superCate_id, category_superCate_name
    from tb_mlback_category order by category_id desc
  </select>
  
  <!-- 使用中 -->
  <select id="selectMlbackCategory" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select *
    from tb_mlback_category
    where category_id = #{categoryId,jdbcType=INTEGER}
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgurl != null">
        category_imgurl = #{categoryImgurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgstatus != null">
        category_imgstatus = #{categoryImgstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryParentId != null">
        category_parent_id = #{categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="categoryParentName != null">
        category_parent_name = #{categoryParentName,jdbcType=VARCHAR},
      </if>
      <if test="categoryStatus != null">
        category_status = #{categoryStatus,jdbcType=INTEGER},
      </if>
      <if test="categoryLable != null">
        category_lable = #{categoryLable,jdbcType=INTEGER},
      </if>
      <if test="categorySeo != null">
        category_seo = #{categorySeo,jdbcType=VARCHAR},
      </if>
      <if test="categorySortOrder != null">
        category_sort_order = #{categorySortOrder,jdbcType=INTEGER},
      </if>
      <if test="categoryCreatetime != null">
        category_createTime = #{categoryCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryMotifytime != null">
        category_motifyTime = #{categoryMotifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryDesc != null">
        category_desc = #{categoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductIds != null">
        category_product_ids = #{categoryProductIds,jdbcType=VARCHAR},
      </if>
      <if test="categoryProductNames != null">
        category_product_names = #{categoryProductNames,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcurl != null">
        category_imgpcurl = #{categoryImgpcurl,jdbcType=VARCHAR},
      </if>
      <if test="categoryImgpcstatus != null">
        category_imgpcstatus = #{categoryImgpcstatus,jdbcType=INTEGER},
      </if>
      <if test="categoryMetatitle != null">
        category_metaTitle = #{categoryMetatitle,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetakeywords != null">
        category_metaKeyWords = #{categoryMetakeywords,jdbcType=VARCHAR},
      </if>
      <if test="categoryMetadesc != null">
        category_metaDesc = #{categoryMetadesc,jdbcType=VARCHAR},
      </if>
      <if test="categorySuperCateId != null">
      	category_superCate_id = #{categorySuperCateId,jdbcType=INTEGER},
      </if>
      <if test="categorySuperCateName != null">
      	category_superCate_name = #{categorySuperCateName,jdbcType=VARCHAR},
      </if>
  </select>
  
  <!-- selectMlbackCategoryGetAllByParentIdFront,下拉 -->
  <select id="selectMlbackCategoryGetAllByParentIdFront" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select
    category_id, category_name, category_seo, category_parent_id, category_parent_name, category_desc, category_status 
    from tb_mlback_category WHERE category_status=1 order by category_parent_id,category_id
  </select>
  
  <!-- selectMlbackCategoryGetAllByParentId,下拉 -->
  <select id="selectMlbackCategoryGetAllByParentId" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select
    category_id, category_name, category_seo, category_parent_id, category_parent_name, category_desc, category_status 
    from tb_mlback_category order by category_parent_id,category_id
  </select>
  
  <!-- 使用中selectMlbackCategoryBackSearch -->
  <select id="selectMlbackCategoryBackSearch" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
  	select 
  	category_id, category_name,category_imgurl,category_parent_id, category_parent_name, category_status, 
  	category_lable, category_seo, category_desc, category_sort_order, category_superCate_id, category_superCate_name
  	from tb_mlback_category 
  	where category_name like concat(concat("%",#{categoryName}),"%")
     <if test="categorySuperCateId != null">
     	and category_superCate_id = #{categorySuperCateId,jdbcType=INTEGER}
     </if>
    order by category_id desc,category_parent_id
  </select>
  <!-- selectMenuMlbackCategoryGetAll -->
  <select id="selectMenuMlbackCategoryGetAll" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select 
    category_id, category_name,category_parent_id, category_parent_name, 
    category_status, category_lable, category_seo, category_sort_order,category_superCate_id, category_superCate_name
    from tb_mlback_category where category_status = 1 order by category_parent_id,category_sort_order
  </select>
  
  <!-- 使用中selectCategorylistByParam -->
  <select id="selectCategorylistByParam" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
  	select category_id, category_name, category_parent_id, category_parent_name, category_status, category_lable, category_seo, category_sort_order
  	from tb_mlback_category where category_status = 1
    <if test="categoryId != null">
      and category_id = #{categoryId,jdbcType=INTEGER}
    </if>
    <if test="categoryName != null">
      and category_name = #{categoryName,jdbcType=VARCHAR}
    </if>
    <if test="categoryParentId != null">
      and category_parent_id = #{categoryParentId,jdbcType=INTEGER}
    </if>
    <if test="categoryLable != null">
      and category_lable = #{categoryLable,jdbcType=INTEGER}
    </if>
    <if test="categorySeo != null">
      and category_seo = #{categorySeo,jdbcType=VARCHAR}
    </if>
    order by category_parent_id
  </select>
  
  <!-- 使用中selectMlbackCategoryBySeo -->
  <select id="selectMlbackCategoryBySeo" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select *
    from tb_mlback_category
    where category_seo = #{categorySeo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectMlbackCategoryById" parameterType="com.atguigu.bean.MlbackCategory" resultMap="BaseResultMap">
    select * 
    from tb_mlback_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
</mapper>